
* {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.app-logo{
  width: 50px;
  height: 50px;
  margin: 0 auto;
}