body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #188fff17;
}

.app-logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.form-container {
  max-width: 300px;
  text-align: center;
  background-color: #fff;
  padding: 3rem 1.5rem 1rem 1.5rem;
  margin: 18vh auto 0 auto;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.patient-record {
  border: 1px solid rgb(235, 237, 240);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.login-form {
  margin-top: 2rem;
}

.login-form-button {
  width: 100%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  margin: 1rem auto;
}


.center {
  text-align: center;
}

.steps {
  margin: 2rem;
}

.sub-form {
  margin-top: 2rem;
}

.background-gfx {
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.steps-action{
  text-align: right;
}

#components-table-demo-resizable-column .react-resizable {
  position: relative;
  background-clip: padding-box;
}

#components-table-demo-resizable-column .react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}